@import "./src/Css/consts";

.cloud{

  background-color: $background-dark;
  padding: 1em;
  border-radius: 15px;
  margin-bottom: 1em;

  &__title{
    width: 100%;
    padding-bottom: .3em;
    border-bottom: solid 1px $border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content{
    padding-top: .3em;
    display: flex;

    >div{
      width: 100%;
    }
    .isLoading{
      width: 1px;
      visibility: hidden;
    }
    &__loader{
      flex:1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
