@import "./src/Css/consts";

header {
  z-index: 1;
  width: calc(100% - 12em);
  position: fixed;
  padding-left: 12em;
  height: 4em;
  background-color: $background-dark;
  border-bottom: solid 1px $border-color;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > div {
    padding: 0 1em;
    display: flex;


    //Баланс
    > div {
      display: flex;
      color: $color;
      align-items: center;
      font-size: 20px;

      &:not(:last-child) {
        margin-right: 2em;
        border-left: solid 1px $border-color;
        //border-bottom: solid 1px #ccc;
        padding-left:.5em;
      }

      &:first-child {
        display: flex;


        > div {
          display: flex;

          &:first-child {
            margin-right: .3em;
          }

        }

      }
    }
  }
}